*{
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;

}
.Nav-container{
  background-color: rgb(255, 255, 255);
  padding: 1em;


}

.Logo{
  height: 5.5vh;
}



.Nav-container .nav-link {
  padding: 10px 15px;
  transition: color 0.3s ease, transform 0.3s ease;
  color: rgb(54, 54, 53);
  
}

.Nav-container .nav-link:hover {
  color: rgb(221, 183, 78);
  transform: scale(1.1); 
  
}

.item-carousel{
  height: 800px;
  object-fit: cover;

}

.container-hero {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.hero {

  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(26, 25, 25);
 
}

.hero h2 {
  font-size: 3em;
}

.boton-hero{
  background-color: rgb(231, 188, 135);
}
.service-button{
  background-color: blanchedalmond;
  color: black;
  border: 0.1em solid burlywood;
}
.service-button:hover{
  background-color: rgb(212, 156, 71);
  color: black;
  border: 0.1em solid burlywood;
}